﻿@model IEnumerable<Model.Todo>

@{
    ViewData["Title"] = "Index";
}

<h1>TODO</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdTodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTodo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Task)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdate)
                </td>
                <td>
                    <button class="openModal" id="modal-@item.IdTodo" onclick="openModal(@item.IdTodo)">Edit</button>
                    <form action="@Url.Action("delete","todo")" method="post">
                        <input type="hidden" value="@item.IdTodo" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <h1>TODO insert</h1>
    <form action="@Url.Action("Insert","Todo")" method="post">
        <label for="Task">Task</label>
        <input name="Task" type="text" />
        <label for="Task">Description</label>
        <textarea name="Description" type="text"></textarea>
        <button type="submit">Enviar</button>
    </form>
</div>
@foreach (var item in Model)
{
    <div id="edit-@item.IdTodo" class="modal" style="display:none">
        <div class="modal-content">
            <h1>TODO edit</h1>
            <button onclick="close(@item.IdTodo)">Close</button>
            <form action="@Url.Action("Update", "Todo")" method="post">
                <input type="hidden" name="IdTodo" value="@item.IdTodo" />
                <label for="Task">Task</label>
                <input name="Task" type="text" value="@item.Task" />
                <label for="Task">Description</label>
                <textarea name="Description">@item.Description</textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
}
<script>
    function openModal(id) {
        var modal = document.getElementById("edit-" + id);
        modal.style.display = "block";
    }
    function close(id) {
        var modal = document.getElementById("edit-" + id);
        modal.style.display = "none";
    }
</script>
